<a href="https://colab.research.google.com/github/gahongayirebelise/NLP-FELLOWSHIP/blob/main/JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
[
    {
        "names": "bebe",
        "class": "uni", 
        "age": 12,
        "role": "null"
    },
    {
      "names": "dodo",
      "class": "masters",
      "age": 14,
      "role": "null"
     
    }
]

[{'names': 'bebe', 'class': 'uni', 'age': 12, 'role': 'null'},
 {'names': 'dodo', 'class': 'masters', 'age': 14, 'role': 'null'}]

In [ ]:
import json

In [ ]:
json_string= '''
{
  "student": [
    {
    "names": "belise",
    "age": 12,
    "marital_status": "null"
    },
    {
      "names": "denis",
      "age": 14,
      "marital_status": "single"
    }
  ]
}
'''

In [ ]:
data = json.loads(json_string)
print(data["student"][0]["names"])

belise

In [ ]:
# data["test"] = True
new_json = json.dumps(data)
print(new_json)
# here we are trying to convert python dictionary into json 
#so when we add indent for example indent=2 let us see the change down there

{"student": [{"names": "belise", "age": 12, "marital_status": "null"}, {"names": "denis", "age": 14, "marital_status": "single"}]}

In [ ]:
new_json = json.dumps(data, indent=4, sort_keys= True)
print(new_json)

{
    "student": [
        {
            "age": 12,
            "marital_status": "null",
            "names": "belise"
        },
        {
            "age": 14,
            "marital_status": "single",
            "names": "denis"
        }
    ]
}

In [ ]:
# load and dump
import json
with open("data.json", "r")as f:
  data = json.load(f)
  print(data,items())